{% extends layout_path %}
 {% load static %}
 {% load i18n %}
 {% block title %}Success Modal{% endblock %}
{% block content %}
<div class="mb-3">
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="d-flex justify-content-between w-100">
        <h5 class="mb-1 text-white">Employment Information</h5>
      </div>
    </li>
    {% for employment in employment_info %}
    <li class="list-group-item">
      <div class="d-flex justify-content-between w-100">
        <h5 class="mb-1">Organization: {{ employment.organization_name }}</h5>
      </div>
      <p>Designation: {{ employment.designation }}</p>
      <p>Start Date: {{ employment.start_date }}</p>
      <p>End Date: {{ employment.end_date }}</p>
      <button class="btn btn-primary" onclick="window.location.href='{% url 'pages-profile-employment' %}'">Update</button>
    </li>
    {% empty %}
    <li class="list-group-item">
      No employment information available.
    </li>
    {% endfor %}
    <li class="list-group-item">
      <button class="btn btn-primary" onclick="window.location.href='{% url 'pages-profile-employment' %}'">Add Experience</button>
    </li>
  </ul>
</div>
{% endblock %}
