{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Profile - Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/profile.css' %}" />
{% endblock page_css %}

{% block content %}
<div class="card p-2">
  <div class="d-flex align-items-center justify-content-center">
    <img class="img-fluid mb-3 img" src="{% static 'img/pages/sampleImage.jpeg' %}" alt="Instructions Image">
  </div>

  <ul >
    <li style="list-style: none;"><strong>Instructions for Uploading Files:</strong></li>
    <li>Attach your recent Passport Size photograph with blue/white background.</li>
    <li>Selfies are strictly not allowed.</li>
    <li>Attach the front and back sides of your CNIC separately.</li>
    <li>Attach your Domicile and PRC (Form-D).</li>
    <li>Attach all files in .jpg and .png formats. File size must not be greater than 1 MB.</li>
    <li>Attach clear and colored documents. Blurred and not visible files can cause the rejection of your application.</li>
  </ul>
  <hr>
  <br>
  <ul>
    <li style="list-style: none;"><strong>Instructions for Personal Information Section:</strong></li>
    <li>Your Full Name, CNIC, Mobile Number and Email Address will be auto-filled from your registration data. You cannot change them.</li>
    <li>Fill all the remaining fields carefully and enter valid data.</li>
    <li>All fields are mandatory except Email Address. If you don't have the email address, you can leave the field empty.</li>
    <li>Select Father / Husband name on the basis of your CNIC.</li>
    <li>If you are selecting yourself as 'Disabled' then you must have the disabled CNIC issued by NADRA having 'Wheelchair' on it. Otherwise, your disability will not be accepted.</li>
  </ul>
  <hr>
  <br>
  <ul >
    <li style="list-style: none;"><strong>Instructions for Address Information Section:</strong></li>
    <li>Select the district and taluka of domicile from the list of cities.</li>
    <li>Fill your Domicile No. and PRC-D No. written on the top of your documents.</li>
    <li>Enter your Permanent and Current Address written on the back side of your CNIC.</li>
    <li>Enter your valid Postal Address because your provided address will be used to send you official posts / TCS.</li>
  </ul>
  <hr>
  <br>
  <ul >
    <li style="list-style: none;"><strong>Instructions for Educational Information Section:</strong></li>
    <li>Add your all educational information of Matriculation, Intermediate and Graduation.</li>
    <li>Attach transcript / degree with each record.</li>
    <li>Attach degree / marksheet files with .jpg and .png formats. The file size must not be greater than 1 MB.</li>
    <li>Do not add your on-going / continued degrees.</li>
  </ul>
  <br>
</div>


  {% comment %} Personal Information {% endcomment %}

  <div class="mt-3 d-flex gap-2 parent">
    <div class="col-md-9">

      <div class="mb-3">
        <ul class="list-group">
          <li class="list-group-item active">
            <div class="d-flex justify-content-between w-100">
              <h5 class="mb-1 text-white">Personal Information</h5>
            </div>
          </li>
          {% for Profile_info in profile_info %}
            <li class="list-group-item">
              <strong>Full Name:</strong> {{ Profile_info.full_name }}
            </li>
            <li class="list-group-item">
              <strong>CNIC:</strong> {{ Profile_info.cnic }}
            </li>
            <li class="list-group-item">
              <strong>Mobile Number:</strong> {{ Profile_info.mobile_number }}
            </li>
            <li class="list-group-item">
              <strong>Email:</strong> {{ Profile_info.email }}
            </li>
            <li class="list-group-item">
              <strong>Father/Husband Name:</strong> {{ Profile_info.father_or_husband_name }}
            </li>
            <li class="list-group-item">
              <strong>Gender:</strong> {{ Profile_info.get_gender_display }}
            </li>
            <li class="list-group-item">
              <strong>Marital Status:</strong> {{ Profile_info.get_marital_status_display }}
            </li>
            <li class="list-group-item">
              <strong>Date of Birth:</strong> {{ Profile_info.date_of_birth }}
            </li>
            <li class="list-group-item">
              <strong>Religion:</strong> {{ Profile_info.religion }}
            </li>
            <li class="list-group-item">
              <strong>Government Servant:</strong> {{ Profile_info.is_government_servant }}
            </li>
            <li class="list-group-item">
              <strong>Has Disability:</strong> {{ Profile_info.has_disability }}
            </li>
            <li class="list-group-item">
              <strong>Domicile District:</strong> {{ Profile_info.domicile_district }}
            </li>
            <li class="list-group-item">
              <strong>Domicile Province:</strong> {{ Profile_info.domicile_province }}
            </li>
            <li class="list-group-item">
              <strong>Postal Address:</strong> {{ Profile_info.postal_address }}
            </li>
            {% empty %}
            <!-- Handle the case when no academic information is available -->
            <li class="list-group-item">
              <p>No academic information available.</p>
            </li>
            {% endfor %}
          <li class="list-group-item">
            <button class="btn btn-primary" onclick="window.location.href='{% url 'pages-profile-personal-info' %}'">Edit Profile</button>
          </li>
        </ul>
      </div>




    {% comment %} address info {% endcomment %}
    <div class="mb-3">
      <ul class="list-group">
        <li class="list-group-item active">
          <div class="d-flex justify-content-between w-100">
            <h5 class="mb-1 text-white">Address Information</h5>
          </div>
        </li>
        {% for address_info in address_info %}
        <li class="list-group-item">
          <strong>Domicile District:</strong> {{ address_info.domicile_district }}
        </li>
        <li class="list-group-item">
          <strong>Domicile Taluka:</strong> {{ address_info.domicile_taluka }}
        </li>
        <li class="list-group-item">
          <strong>Union Council:</strong> {{ address_info.union_council }}
        </li>
        <li class="list-group-item">
          <strong>Domicile No:</strong> {{ address_info.domicile_no }}
        </li>
        <li class="list-group-item">
          <strong>PRC D No:</strong> {{ address_info.prc_d_no }}
        </li>
        <li class="list-group-item">
          <strong>Domicile Issuance Date:</strong> {{ address_info.domicile_issuance_date }}
        </li>
        <li class="list-group-item">
          <strong>PRC D Issuance Date:</strong> {{ address_info.prc_d_issuance_date }}
        </li>
        <li class="list-group-item">
          <strong>Domicile Urban/Rural:</strong> {{ address_info.get_domicile_urban_rural_display }}
        </li>
        <li class="list-group-item">
          <strong>Domicile Original/Duplicate:</strong> {{ address_info.get_domicile_original_duplicate_display }}
        </li>
        <li class="list-group-item">
          <strong>Current Address:</strong> {{ address_info.current_address }}
        </li>
        <li class="list-group-item">
          <strong>Postal Address:</strong> {{ address_info.postal_address }}
        </li>
        <li class="list-group-item">
          <strong>Permanent Address:</strong> {{ address_info.permanent_address }}
        </li>
        {% empty %}
    <!-- Handle the case when no academic information is available -->
    <li class="list-group-item">
      <p>No Address information available.</p>
    </li>
    {% endfor %}
        <li class="list-group-item">
          <button class="btn btn-primary" onclick="window.location.href='{% url 'pages-profile-address' %}'">Edit Section</button>
        </li>
      </ul>
    </div>



    {% comment %} address info {% endcomment %}

{% comment %} Academic Information {% endcomment %}
<div class="mb-3">
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="d-flex justify-content-between w-100">
        <h5 class="mb-1 text-white">Employment Information</h5>
      </div>
    </li>
    {% for employment_info in employment_info %}
    <li class="list-group-item">
       <strong>Organization Name:</strong> {{ employment_info.organization_name }}
      </li>
      <li class="list-group-item"><strong>Designation:</strong> {{ employment_info.designation }}</li>
      <li class="list-group-item"><strong>Start Date:</strong> {{ employment_info.start_date }}</li>
      <li class="list-group-item"><strong>End Date:</strong> {{ employment_info.end_date }}</li>

      <!-- Add a button for updating employment information -->
      <li class="list-group-item">
        <button class="btn btn-primary" onclick="window.location.href='{% url 'pages-profile-employment' %}'">Edit Section</button>
      </li>

    {% empty %}
    <!-- Handle the case when no employment information is available -->
    <li class="list-group-item">
      No employment information available.
    </li>
    {% endfor %}
    <!-- Add a button for adding employment information -->

  </ul>
</div>



{% comment %} Experience info {% endcomment %}

<div class="mb-3">
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="d-flex justify-content-between w-100">
        <h5 class="mb-1 text-white">Academic Information</h5>
      </div>
    </li>
    {% for academic_info in education_info %}
    <li class="list-group-item">
      <div class="academic-info">
        <h2>{{ academic_info.degree_title }}</h2>
        <p><strong>Degree:</strong> {{ academic_info.degree }}</p>
        <p><strong>Duration:</strong> {{ academic_info.duration }}</p>
        <p><strong>Passing Year:</strong> {{ academic_info.passing_year }}</p>
        <p><strong>Marks Type:</strong> {{ academic_info.marks_type }}</p>
        <p><strong>Obtained Marks:</strong> {{ academic_info.obtained_marks }}</p>
        <p><strong>Total Marks:</strong> {{ academic_info.total_marks }}</p>
        <p><strong>Percentage:</strong> {{ academic_info.percentage }}</p>
        <p><strong>Board/Institute:</strong> {{ academic_info.board_institute }}</p>
        <p><strong>Subjects:</strong> {{ academic_info.subjects }}</p>
      </div>
    </li>

    <li class="list-group-item">
      <button class="btn btn-primary" onclick="window.location.href='{% url 'pages-profile-academic'  %}'">Edit Section</button>
      <button class="btn btn-primary" onclick="window.location.href='{% url 'pages-profile-academic-more' %}'">Add Section</button>
    </li>

    {% empty %}
    <!-- Handle the case when no academic information is available -->
    <li class="list-group-item">
      <p>No academic information available.</p>
      <button class="btn btn-primary" onclick="window.location.href='{% url 'pages-profile-academic-more' %}'">Add Section</button>
    </li>
    {% endfor %}
  </ul>
</div>


{% comment %}
    {% include 'address_info_template.html' %}

    {% include 'academic_info_template.html' %}
    {% include 'experience_info_template.html' %} {% endcomment %}

    <!-- Button -->
     {% comment %} <button class="btn btn-primary mb-2">
      Click here to Add / View License Information
    </button> {% endcomment %}
    {% comment %} <button class="btn btn-primary mb-2" onclick="window.location.href='{% url 'pages-profile-license-Info' %}'">Click here to Add / View License Information</button> {% endcomment %}



    <!-- License Info -->
    {% comment %} {% include 'license_info_template.html' %} {% endcomment %}
    {% comment %} <div>
      <ul class="list-group">
        <li class="list-group-item active">
          <div class="d-flex justify-content-between w-100">
            <h5 class="mb-1 text-white">License Information</h5>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between w-100">
            <h5 class="mb-1">License Type</h5>
          </div>
          <p class="mb-1">License Type</p>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between w-100">
            <h5 class="mb-1">License Number</h5>
          </div>
          <p class="mb-1">License Number</p>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between w-100">
            <h5 class="mb-1">Issue Date</h5>
          </div>
          <p class="mb-1">Issue Date</p>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between w-100">
            <h5 class="mb-1">Valid Upto</h5>
          </div>
          <p class="mb-1">Valid Upto</p>
        </li>
        {% empty %}
        <li class="list-group-item">
          License Information.
        </li>
        {% endfor %}
        <li class="list-group-item">
          <button class="btn btn-primary">Edit Section</button>
          <button class="btn btn-primary" onclick="window.location.href='{% url 'pages-profile-license-Info' %}'">Edit Section</button>

        </li>
      </ul>
    </div>

  </div> {% endcomment %}

  {% comment %} <div class="col-md-3">

    <div class="mb-3">
      <h5>Passport Size Photo</h5>
      <img src="{% static 'images/passport_photo.jpg' %}" alt="Passport Size Photo">
    </div>
    <div class="mb-3">
      <h5>CNIC Front Side</h5>
      <img src="{% static 'images/cnic_front.jpg' %}" alt="CNIC Front Side">
    </div>
    <div class="mb-3">
      <h5>CNIC Back Side</h5>
      <img src="{% static 'images/cnic_back.jpg' %}" alt="CNIC Back Side">
    </div>
  </div> {% endcomment %}
</div>

  <div class="col-md-3">
    <div class="card mb-3 p-2">

      <div class="image-upload-container">
        <h6>Passport Size Photo</h6>
        <img id="passport_photo_preview" style="display: none;" alt="Passport Size Photo">
        <input type="file" id="passport_photo_input" style="display: none;">
        <button type="button" class="btn btn-primary my-1" onclick="document.getElementById('passport_photo_input').click();">Upload</button>
      </div>
    </div>
<div class="card mb-3 p-2">

      <div class="image-upload-container">
        <h6>CNIC Front Side</h6>
        <img id="cnic_front_preview" style="display: none;" alt="CNIC Front Side">
        <input type="file" id="cnic_front_input" style="display: none;">
        <button type="button" class="btn btn-primary my-1" onclick="document.getElementById('cnic_front_input').click();">Upload</button>
      </div>
    </div>
<div class="card mb-3 p-2">

      <div class="image-upload-container">
        <h6>CNIC Back Side</h6>
        <img id="cnic_back_preview" style="display: none;" alt="CNIC Back Side">
        <input type="file" id="cnic_back_input" style="display: none;">
        <button type="button" class="btn btn-primary my-1" onclick="document.getElementById('cnic_back_input').click();">Upload</button>
      </div>
    </div>
  </div>

  <style>
  .image-upload-container {
    position: relative;
    width: auto; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
  }

  .image-upload-container img {
    max-width: 100%;
    max-height: 100%;
  }
  </style>


  <script>
    function handleFileInput(inputId, previewId) {
      const input = document.getElementById(inputId);
      const preview = document.getElementById(previewId);
      const file = input.files[0];
      const reader = new FileReader();

      reader.onload = function() {

        preview.src = reader.result;
        preview.style.display = 'block'; // Show the uploaded image
      };

      if (file) {
        reader.readAsDataURL(file);
      }
    }

    document.getElementById('passport_photo_input').addEventListener('change', function() {
      handleFileInput('passport_photo_input', 'passport_photo_preview');
    });

    document.getElementById('cnic_front_input').addEventListener('change', function() {
      handleFileInput('cnic_front_input', 'cnic_front_preview');
    });

    document.getElementById('cnic_back_input').addEventListener('change', function() {
      handleFileInput('cnic_back_input', 'cnic_back_preview');
    });
  </script>

</div>



{% endblock %}
