{% extends layout_path %}
{% load static %}
{% load i18n %}

{% block title %}Download Slip - Pages{% endblock %}


{% block content %}

<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-8">
        <style media="print">
            /* Hide navbar and footer elements using their selectors or parent selectors */
            .navbar, .footer ,.button{
              display: none !important;
            }
    
            /* Optionally, adjust margins or other styles for better printing layout */
            body {
              margin: 0; /* Remove any default body margins */
            }
            .container {
                font-size: 0.7rem; /* Adjust font size as needed */
              }
          
              
          </style>
    
          <div class="card">
              <div class="card-header">Confirmation</div>
              <div class="card-body">
                  <div id="print-content" class="p-2" style="border: 5px solid #F30002;">
                      <div class="d-flex align-items-center justify-content-center flex-column mb-1">
                          <img src="{% static 'img/pages/logo.png' %}" style="width: 110px; height: 60px;" class="mx-auto" alt="CTS Logo">
                          <h4 class="mt-2">Exam Name</h4>
                      </div>
                      <div class="d-flex justify-content-between p-1 bc" style="border: 5px solid #0041FD; background-color: #EFF3FF;">
                          <div class="student-info">
                              <p><strong class="text-primary">Roll No: </strong><span class="fw-bold">9785653</span></p>
                              <p><strong class="text-primary">Name: </strong><span class="fw-bold">Ahemd Ali</span></p>
                              <p><strong class="text-primary">Father Name: </strong><span class="fw-bold">Muhammad Ali</span></p>
                              <p><strong class="text-primary">CNIC: </strong><span class="fw-bold">61101-8157206-4</span></p>
                              <p><strong class="text-primary">Exam: </strong><span class="fw-bold">Initial Assessment</span></p>
                              <p><strong class="text-primary">Test Date: </strong><span class="fw-bold">22-08-2023</span></p>
                              <p><strong class="text-primary">Test Time: </strong>12:30 PM</p>
                              <p><strong class="text-primary">Test Center: </strong><span class="fw-bold">Saddar Rawalpindi</span></p>
                          </div>
                          <img src="{% static 'img/pages/placeholder-image.jpg' %}" style="width: 150px; height: 150px;" alt="Placeholder Image">
                      </div>
                      <div class="p-1">
                          <p class="m-0 p-0"><strong>Instructions:</strong></p>
                          <p>Candidates are provisionally allowed to appear in the test, subject to verification of credentials and eligibility criteria.</p>
                          <p class="m-0 p-0"><strong>Additional Instructions:</strong></p>
                          <ul>
                              <li>You are advised to bring this ROLL NO SLIP along with your original National ID Card or Passport and Matric certificate containing your photograph. Candidates failing to produce ROLL NO SLIP OR CNIC would not be allowed to enter the examination hall.</li>
                              <li>Mobile phones, calculators, or any other electronic devices are not allowed in the Test Center Premises.</li>
                              <li>Mobile collection facility will not be provided at the test center.</li>
                              <li>No candidate will be allowed to enter the exam hall after 30 minutes of the start of the test.</li>
                          </ul>
                      </div>
                  </div>
                  <div class="text-center mt-3">
                      <button type="button" class="btn btn-primary" onclick="window.print()">Print Slip</button>
                      <button type="button" class="btn btn-dark" onclick="window.location.href='{% url 'pages-applicaton' %}'">Back to application</button>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock %}
