{% extends layout_path %}
{% load static %}
{% load i18n %}

{% block title %}Apply Post - Pages{% endblock %}


{% block content %}
<section id="pricing" class="pricing">
  <div class="container">
    <div class="card d-flex justify-content-between align-items-center  py-2 mb-3" style="background-color:#57b139;">
      <h2 class="mb-0 text-white">Inspire Testing Service Project</h2>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-lg-12 col-md-8 mt-4 mt-md-0">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col" style="font-weight: bold;">#</th>
                <th scope="col" style="font-weight: bold;">Apply for</th>
                <th colspan="2" scope="col" style="font-weight: bold;">Project</th>
                <th scope="col" style="font-weight: bold;">Last Date</th>
                <th scope="col" style="font-weight: bold;">Online Apply</th>
              </tr>
            </thead>
            <tbody>
              {% for project in applications %}  <tr>
                <th scope="row">{{ project.id }}</th>  <td>{{ project.apply_for }}</td>  <td colspan="2">{{ project.project_title }}</td>  <td>{{ project.last_date }}</td>  <td class="text-center"><a href="{% url 'pages-apply-progress-form' %}">Apply</a></td>  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="ms-4 mt-3">
  <button type="button" class="btn btn-dark" onclick="window.location.href='{% url 'pages-active-projects' %}'">Back To Active Projects</button>
</div>

<style>
  @media screen and (max-width: 768px) {
    table.table th,
    table.table td {
      font-size: 14px !important;
    }
  }
</style>


{% endblock %}

{% comment %} <section id="pricing" class="pricing">
    <div class="container" >
        <div class="card d-flex justify-content-between align-items-center bg-primary py-2 mb-3">
            <h2 class="mb-0 text-white">Inspire Testing Service Project</h2>
          </div>

      <div class="row justify-content-md-center">


        <div class="col-lg-12 col-md-8 mt-4 mt-md-0">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                      <th scope="col" style="font-weight: bold;">#</th>
                      <th scope="col" style="font-weight: bold;">Apply for</th>
                      <th colspan="2" scope="col" style="font-weight: bold;">Project</th>
                      <th scope="col" style="font-weight: bold;">Type</th>
                      <th scope="col" style="font-weight: bold;">Last Date</th>
                      <th scope="col" style="font-weight: bold;">Click</th>
                    </tr>
                  </thead>

              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Invigilator</td>
                  <td colspan="2">Opportunities in Inspire Testing Service Project</td>
                  <td>Recruitment Test</td>
                  <td>12-03-2023</td>
                  <td class="text-center"><a href="#" >Apply</a></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Coordinator</td>
                  <td colspan="2">Opportunities in Inspire Testing Service Project</td>
                  <td>Recruitment Test</td>
                  <td>12-03-2023</td>
                  <td class="text-center"><a href="#" >Apply</a></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Test Center</td>
                  <td colspan="2">Opportunities in Inspire Testing Service Project</td>
                  <td>Recruitment Test</td>
                  <td>12-03-2023</td>
                  <td class="text-center"><a href="#" >Apply</a></td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Data Entry Operator</td>
                  <td colspan="2">Opportunities in Inspire Testing Service Project</td>
                  <td>Recruitment Test</td>
                  <td>12-03-2023</td>
                  <td class="text-center"><a href="#" >Apply</a></td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Chief Examiner</td>
                  <td colspan="2">Opportunities in Inspire Testing Service Project</td>
                  <td>Recruitment Test</td>
                  <td>12-03-2023</td>
                  <td class="text-center"><a href="#" >Apply</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>

    </div>
  </section>
  <div class="ms-4 mt-3">
    <button type="button" class="btn btn-dark " onclick="window.location.href='{% url 'pages-active-projects' %}'">Back To Active Projects</button>

  </div> {% endcomment %}
