{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}How to Apply - Pages{% endblock %}

{% block content %}
<div>
    <!-- Card for header -->
    <div class="card text-center p-2 text-white" style="background-color:#7367f0;">
      <h4 class="card-title text-white">How to Apply</h4>
      <p class="card-text">Instructions to perform various operations on ITS portal</p>
    </div>
  
    <!-- Main content card -->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- List group column -->
          <div class="col-md-4 col-sm-12 mt-1">
            <!-- List group for instruction options -->
            <ul class="list-group">
              <li class="list-group-item cursor-pointer {% if activeList == '1' %}active{% endif %}" onclick="toggleList('1')">Login Instructions</li>
              <li class="list-group-item cursor-pointer {% if activeList == '2' %}active{% endif %}" onclick="toggleList('2')">Registration Instructions</li>
              <li class="list-group-item cursor-pointer {% if activeList == '3' %}active{% endif %}" onclick="toggleList('3')">Forget Password Instructions</li>
            </ul>
          </div>
          <!-- Instruction content column -->
          <div class="col-md-8 col-sm-12 mt-1">
            <div class="tab-content">
              <!-- Tab pane for login instructions -->
              <div class="tab-pane fade {% if activeList == '1' %}show active{% endif %}" id="tab1">
                <!-- List group for login instructions -->
                <ul class="list-group">
                  <li class="list-group-item">If you are already registered on ITS Candidate Portal, then click on enter your CNIC Number and 6-digits password to login to your candidate portal</li>
                  <li class="list-group-item">If you are not registered on ITS Candidate Portal, click on 'Create an Account' link below to create a new account</li>
                  <li class="list-group-item">If you are registered on ITS Candidate Portal, but you have forgotten your password, then click on 'Forget Password' link to recover your password.</li>
                </ul>
              </div>
              <!-- Tab pane for registration instructions -->
              <div class="tab-pane fade {% if activeList == '2' %}show active{% endif %}" id="tab2">
                <!-- List group for registration instructions -->
                <ul class="list-group">
                  <!-- Registration Instructions -->
                  <li class="list-group-item">Enter your Full Name as per your CNIC</li>
                  <li class="list-group-item">Enter your CNIC number</li>
                  <li class="list-group-item">If your CNIC or mobile number is already registered on the portal then go to login page to login to your account</li>
                  <li class="list-group-item">Enter your email address. This field is optional. If you don't have an email address then leave this field empty</li>
                  <li class="list-group-item">Click on 'Send Verification Code' button to send a verification code / OTP on your entered mobile number</li>
                  <li class="list-group-item">After a few seconds, you will receive a four-digit verification code / OTP</li>
                  <li class="list-group-item">If you dont receive the verification code / OTP, then you can resend the code after 1 minute</li>
                  <li class="list-group-item">After receiving the Verification Code / OTP, enter the code below and click on <strong>'Sign Up'</strong> button</li>
                  <li class="list-group-item">After a few seconds, you will receive a 6-digits password on your mobile number through which you can login to your account</li>
                </ul>
              </div>
              <!-- Tab pane for forget password instructions -->
              <div class="tab-pane fade {% if activeList == '3' %}show active{% endif %}" id="tab3">
                <!-- List group for forget password instructions -->
                <ul class="list-group">
                  <!-- Forget Password Instructions -->
                  <li class="list-group-item">Enter your CNIC number</li>
                  <li class="list-group-item">Enter your mobile number</li>
                  <li class="list-group-item">Click on 'SEND VERIFICATION CODE' button</li>
                  <li class="list-group-item">If your given CNIC and mobile number is not linked with any account, the system will show you a message!</li>
                  <li class="list-group-item">Enter your email address. This field is optional. If you don't have an email address then leave this field empty</li>
                  <li class="list-group-item">Click on 'Send Verification Code' button to send a verification code / OTP on your entered mobile number</li>
                  <li class="list-group-item">After a few seconds, you will receive a four-digit OTP / Verification Code on your mobile number</li>
                  <li class="list-group-item">Enter the received OTP / Verification Code in the below field and click on 'SEND NEW PASSWORD' button</li>
                  <li class="list-group-item">After a few seconds, you will receive a new password on your mobile number through which you can login to your account</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}