{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Profile - Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-faq.css' %}" />
{% endblock page_css %}

{% block content %}
<div class="card p-2">
  <div class="d-flex align-items-center justify-content-center">
    <img class="img-fluid mb-3 img" src="{% static 'img/pages/sampleImage.jpeg' %}" alt="Instructions Image">
  </div>
  <ul style="list-style-type: none; padding: 0;">
    <li><strong>Instructions for Uploading Files:</strong></li>
    <li>Attach your recent Passport Size photograph with blue/white background.</li>
    <li>Selfies are strictly not allowed.</li>
    <li>Attach the front and back sides of your CNIC separately.</li>
    <li>Attach your Domicile and PRC (Form-D).</li>
    <li>Attach all files in .jpg and .png formats. File size must not be greater than 1 MB.</li>
    <li>Attach clear and colored documents. Blurred and not visible files can cause the rejection of your application.</li>
  </ul>
  <hr>
  <br>
  <ul style="list-style-type: none; padding: 0;">
    <li><strong>Instructions for Personal Information Section:</strong></li>
    <li>Your Full Name, CNIC, Mobile Number and Email Address will be auto-filled from your registration data. You cannot change them.</li>
    <li>Fill all the remaining fields carefully and enter valid data.</li>
    <li>All fields are mandatory except Email Address. If you don't have the email address, you can leave the field empty.</li>
    <li>Select Father / Husband name on the basis of your CNIC.</li>
    <li>If you are selecting yourself as 'Disabled' then you must have the disabled CNIC issued by NADRA having 'Wheelchair' on it. Otherwise, your disability will not be accepted.</li>
  </ul>
  <hr>
  <br>
  <ul style="list-style-type: none; padding: 0;">
    <li><strong>Instructions for Address Information Section:</strong></li>
    <li>Select the district and taluka of domicile from the list of cities.</li>
    <li>Fill your Domicile No. and PRC-D No. written on the top of your documents.</li>
    <li>Enter your Permanent and Current Address written on the back side of your CNIC.</li>
    <li>Enter your valid Postal Address because your provided address will be used to send you official posts / TCS.</li>
  </ul>
  <hr>
  <br>
  <ul style="list-style-type: none; padding: 0;">
    <li><strong>Instructions for Educational Information Section:</strong></li>
    <li>Add your all educational information of Matriculation, Intermediate and Graduation.</li>
    <li>Attach transcript / degree with each record.</li>
    <li>Attach degree / marksheet files with .jpg and .png formats. The file size must not be greater than 1 MB.</li>
    <li>Do not add your on-going / continued degrees.</li>
  </ul>
  <br>
</div>



{% endblock %}
